<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, minimal-ui' />

    <meta http-equiv="cleartype" content="on">
    <title>Space Couch</title>

    <link href="/styles/font-awesome.css" rel="stylesheet">
    <link href="/styles/bootstrap.css" rel="stylesheet">
    <link href="/styles/global.css" rel="stylesheet">

    <script src="/js/jquery.js"></script>
    <script src="/js/tether.min.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/hammer.min.js"></script>
    <script src="/js/jquery.overscroll.js"></script>
    <script src="/js/gyro.js"></script>

    <script src="/js/client.js"></script>
    <script src="/js/<%= role; %>.js"></script>
</head>
<body>
<div class="main-container container-<%= role; %>">
    <div id="pause-dialog" class="dropshadow" style="display: none;">
        <div class="dropshadow-background"></div>
        <i class="fa fa-pause-circle"></i>
    </div>
    <button type="button" class="btn btn-link lobby-button"><i class="fa fa-hand-o-left"></i></button>
