<%- include('partials/header'); %>
<h2 class="text-xs-center">Captain Stuff</h2>

<button id="pause-button" type="button" class="btn btn-warning" data-toggle="button" data-sync="pause"><i class="fa fa-pause fa-4x"></i></button>

<%- include('partials/footer'); %>