<%- include('partials/header'); %>
<div class="cards">
    <div class="card">
        <h4 class="card-title">Main Power</h4>
        <div class="card-block">
            <div class="range-slider" data-vertical="true" data-sync="power1"></div>
            <div class="range-slider" data-vertical="true" data-sync="power2"></div>
            <div class="range-slider" data-vertical="true" data-sync="power3"></div>
            <div class="range-slider" data-vertical="true" data-sync="power4"></div>
        </div>
    </div>
    <div class="card">
        <h4 class="card-title">Buttons</h4>
        <div class="card-block">
            <button type="button" class="btn btn-danger active-green" data-toggle="button" data-sync="main_power_system" aria-pressed="false"><i class="fa fa-2x fa-power-off"></i></button>
            <button type="button" class="btn btn-danger" data-toggle="button" data-sync="enable_doritos" aria-pressed="false"><i class="fa fa-2x fa-hand-lizard-o"></i></button>
            <br><br>
            <button type="button" class="btn btn-warning" data-sync="flush_gravity" aria-pressed="false"><i class="fa fa-2x fa-viacoin"></i></button>
        </div>
    </div>
    <div class="card">
        <div class="console">&gt; tail -f /var/log/ship/network.log
</div>
    </div>
</div>
<%- include('partials/footer'); %>
