<%- include('partials/header'); %>
<h1>Project Space Couch</h1>
<a class="btn btn-secondary" href="engineer" style="margin: 15px;">Engineer</a><br>
<a class="btn btn-secondary" href="robotics" style="margin: 15px;">Robotics Expert</a><br>
<a class="btn btn-secondary" href="weapons" style="margin: 15px;">Weapons</a><br>
<a class="btn btn-secondary" href="navigation" style="margin: 15px;">Navigation</a><br>
<%- include('partials/footer'); %>