<%- include('partials/header'); %>
<canvas id="canvas" width="480" height="320"></canvas>
    <div style="height: 30px">
      <div id="gamma" style="width: 100px">gamma</div>
      <div id="alpha" style="width: 100px">alpha</div>
      <div id="beta" style="width: 100px">beta</div>
    </div>
<%- include('partials/footer'); %>
