<%- include('partials/header'); %>
<div class="weapons">
    <div id="weaponsCanvas"></div>
    <div id="gamma" style="width: 100px; color: white; position: fixed; top: 0px; right: 25px;">CG:</div>
    <div id="alpha" style="width: 100px; color: white; position: fixed; top: 20px; right: 25px;">CA:</div>
</div>
<%- include('partials/footer'); %>
