@import '../../../node_modules/compass-mixins/lib/compass';

$knob-size: 3;

.range-slider {
	margin: 0 2em 1em 0;
	display: inline-block;
	width: #{$knob-size}rem;
	height: 100%;
	background: linear-gradient(
			135deg,
			rgba(76, 89, 103, 0.5) 0%,
			rgba(108, 108, 147, 0.5) 20%,
			rgba(98, 109, 132, 0.5) 23%,
			rgba(122, 133, 184, 0.5) 30%,
			rgba(112, 126, 194, 0.5) 45%,
			rgba(96, 96, 159, 0.5) 75%,
			rgba(54, 57, 73, 0.5) 90%,
			rgba(19, 25, 32, 0.5) 100%
		),
		linear-gradient(to bottom, #000000, #808080, #000000),
		linear-gradient(to right, #000000, #808080, #000000);
	border-radius: 1rem;
	padding: #{$knob-size / 2}rem 0;
	text-align: center;
	box-shadow: 0 0 1px 0 #000, 1px 2px 1px -1px #111;

	&.active .dragger {
		will-change: top;
	}
}

.range-slider-track {
	position: relative;
	display: inline-block;
	width: #{$knob-size / 4}rem;
	height: 100%;
	border-radius: 1rem;
	box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5),
		0 1px 0 1px rgba(153, 153, 153, 0.5),
		inset 0 2px 1px 1px rgba(0, 0, 0, 0.75);
	background: linear-gradient(
			to right,
			transparent 45%,
			#111 50%,
			transparent 55%
		),
		linear-gradient(to bottom, #2b303b, #4c5567, #21242c);

	.dragger {
		position: absolute;
		display: inline-block;
		width: #{$knob-size}rem;
		height: #{$knob-size}rem;
		border-radius: 50%;
		left: 50%;
		transform: translate(-50%, 0);
		background: linear-gradient(150deg, #aaa, #555);
		box-shadow: inset 1px 2px 0 1px hsla(0, 0, 80%, 0.7),
			inset 0 0 1px 2px #333, -3px 8px 1px -1px hsla(0, 0, 0, 0.4),
			6px 16px 3px -2px hsla(0, 0, 0, 0.25);

		&:after {
			content: '';
			position: absolute;
			display: inline-block;
			width: #{$knob-size - 1}rem;
			height: #{$knob-size - 1}rem;
			border-radius: 50%;
			top: 0.5rem;
			left: 0.5rem;
			box-shadow: 0 1px 0 1px #999;
			border-bottom: 1px solid #ddd;
			border-top: 1px solid #111;
			background: repeating-radial-gradient(
					circle farthest-side at center,
					transparent 0px,
					transparent 4px,
					#222 4px,
					#111 5px
				),
				linear-gradient(to bottom, #222, #aaa);
		}
	}
}

.no-select {
	@include user-select(none);
}
