button:focus {
	outline: 0 !important;
}

.btn-link {
	&,
	&:focus,
	&:active {
		background-color: transparent;
		border-color: transparent;
	}
	padding: 0.5rem 1rem;
	font-size: 1rem;
	cursor: pointer;
}

@mixin btn-base() {
	color: white;
	text-shadow: 1px 1px 1px black;
	border: 2px solid transparent;
	padding: 0.5rem 1rem;
	font-size: 1rem;
}

@mixin btn-color($color) {
	&,
	&:focus,
	&:active {
		background-color: $color;
		border-color: darken($color, 10);
	}

	&:hover {
		background-color: darken($color, 10);
		border-color: darken($color, 20);
	}
}

$btn-red: #dc3545;
$btn-green: #398439;
$btn-orange: #ffc107;

.btn-danger {
	@include btn-base();
	@include btn-color($btn-red);
	&.active {
		@include btn-color(darken($btn-red, 20));
	}
}

.active-green.active {
	@include btn-color($btn-green);
}

.btn-warning {
	@include btn-base();
	@include btn-color($btn-orange);
	&.active {
		@include btn-color(darken($btn-orange, 20));
	}
}

.container-engineer {
	.MuiButton-root {
		margin-left: 0.5em;
		margin-right: 0.5em;
		box-shadow: 2px 2px 3px 0 #111;
	}
}
