.console {
	background-color: black;
	color: #bebebe;
	font-weight: bold;
	font-family: monospace;
	font-size: 14px;
	line-height: 21px;
	border: 0;
	padding: 10px;
	padding-bottom: 0;
	height: 100%;
	width: 100%;
	white-space: pre;
	overflow-y: scroll;
}
