.ButtonPush {
	position: relative;
	top: 0;
	width: 0;
	height: 0;
	font-size: 0;
	background: #555;
	padding: 18px;
	margin-bottom: 30px;
	border: 2px solid #333;
	border-radius: 25px;
	box-shadow: 0 30px 0 #222, 0 25px 0 #222, 0 20px 0 #222, 0 15px 0 #222,
		0 10px 0 #222, 0 5px 0 #222, 4px 33px 6px rgba(0, 0, 0, 0.5);
	transition: All 500ms ease;
	&:active {
		top: 25px;
		box-shadow: 0 5px 0 #222, 2px 6px 6px rgba(0, 0, 0, 0.5);
	}
}
