body,
html {
	height: 100%;
}

.btn:focus {
	outline: 0 !important;
}

.btn-danger {
	&:active,
	&:hover,
	&:focus {
		background-color: #d9534f;
		border-color: #d9534f;
	}
	&.active {
		&,
		&:active,
		&:hover,
		&:focus {
			background-color: #ac2925;
			border-color: #8b211e;
		}
	}
}

.active-green.active {
	&,
	&:active,
	&:hover,
	&:focus {
		background-color: #398439;
		border-color: #2d672d;
	}
}

$pause_width: 164px;
.dropshadow {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-left: -($pause_width / 2);
	margin-top: -($pause_width / 2);
	background-color: rgba(0, 0, 0, 0.5);
	box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.5);
	z-index: 10000;

	.dropshadow-background {
		background-color: white;
		z-index: 10005;
		width: $pause_width - 8px;
		height: $pause_width - 8px;
		position: absolute;
		border-radius: 500px;
		top: $pause_width / 10;
		left: 1px;
	}
	.fa {
		z-index: 10010;
		position: absolute;
		font-size: 12em;
	}
}

.lobby-button {
	position: absolute;
	top: 0;
	left: 0;
	padding: 10px;
	z-index: 100;
	color: rgba(127, 127, 127, 0.5) !important;
	.container-list & {
		display: none;
	}
}

@media screen and (min-width: 1200px) {
	// Hacks for desktop view
	.main-container {
		width: #{640 + 4}px;
		height: #{360 + 4}px;
		background-color: white;
		box-shadow: 5px 5px 20px black;
		margin: 50px;
		border: 2px solid black;
		overflow: hidden;
	}
}
