.container-helm {
	position: relative;
	height: 100%;
	overflow: hidden;
	z-index: 0;
	color: white;
	.helm-wheel-container {
		display: flex;
		position: absolute;
		bottom: -150px;
		width: calc(100% - 180px);
	}
	.helm-wheel {
		width: 263px;
		margin-left: auto;
		margin-right: auto;
		transition: transform 0.125s ease-out;
	}
	.helm-chadwell-container {
		position: absolute;
		bottom: -24px;
		right: 0;
	}
	.helm-chadwell-base {
		width: 180px;
	}
	.helm-chadwell-handle {
		width: 52px;
		position: absolute;
		top: -69px;
		left: 64.5px;
		transform-origin: 50% 158px;
	}

	.button--thrust {
		position: absolute;
		left: 0;
		top: calc(50% - 2em);
		color: white;
		background-color: rgba(224, 224, 224, 0.31);
		border-radius: 0 2em 2em 0;
		padding: 1.25em 1em;
	}

	.StarCanvas,
	.helm-canvas {
		position: absolute;
		left: 0;
		top: 0;
	}
}
